<div class="container mt-4 mb-5">
    <h4 class="mb-4">Adicionar curso</h4>
    <hr>
    <div *ngIf="errors" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Atenção!</strong>
        <pre>{{errors}}</pre>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" (click)="ClearErrors()">&times;</span>
        </button>
    </div>
    <form [formGroup]="form">
        <div class="row form-group">
            <label class="col-sm-2 col-form-label">Código</label>
            <div class="col-sm-10">
                <input formControlName="code" type="text" id="code" class="form-control" />
                <div class="invalid-feedback">
                    <span>Código inválido</span>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-sm-2 col-form-label">Nome</label>
            <div class="col-sm-10">
                <input formControlName="name" id="name" class="form-control" />
                <div class="invalid-feedback">
                    <span>Nome inválido</span>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-sm-2 col-form-label">Valor</label>
            <div class="col-sm-10">
                <input formControlName="price" type="number" id="price" class="form-control" />
                <div class="invalid-feedback">
                    <span>Valor inválido</span>
                </div>
            </div>

        </div>
        <div class="row form-group">
            <label class="col-sm-2 col-form-label">Avaliação</label>
            <div class="col-sm-10">
                <input type="number" formControlName="rating" id="rating" class="form-control" />
                <div class="invalid-feedback">
                    <span>Avaliação inválida</span>
                </div>
            </div>

        </div>
        <div class="row form-group">
            <label class="col-sm-2 col-form-label">Duração</label>
            <div class="col-sm-10">
                <input type="number" formControlName="duration" id="duration" class="form-control" />
                <div class="invalid-feedback">
                    <span>Duração inválida</span>
                </div>
            </div>

        </div>
        <div class="row form-group">
            <label class="col-sm-2 col-form-label">Descrição</label>
            <div class="col-sm-10">
                <textarea formControlName="description" id="description" class="form-control"></textarea>
                <div class="invalid-feedback">
                    <span>Descrição inválida</span>
                </div>
            </div>

        </div>
        <div class="row justify-content-center mt-5" *ngIf="isEdit">
            <button class="btn btn-success col-sm-1 mr-2" (click)="Edit()">
                Salvar</button>
            <button class="btn btn-secondary col-sm-1 mr-2" [routerLink]="['/courses']">Cancelar</button>
            <button class="btn btn-danger col-sm-1" (click)="Delete()">Excluir</button>
        </div>
        <div class="row justify-content-center " *ngIf="!isEdit">
            <button class="btn btn-success col-sm-1 mr-2 mt-2" (click)="Add()">
                Salvar
            </button>
            <button class="btn btn-secondary col-sm-1 mr-2 mt-2" [routerLink]="['/courses']">Cancelar</button>
        </div>
    </form>
</div>